<ion-header>
  <ion-toolbar>
    <ion-title>ContestHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="buttons-container">
    <div class="ion-text-center">
      <ion-button color="primary" routerLink="tabs/home" (click)="login(1)">
        Ingresar como Xavier
      </ion-button>
    </div>
  
    <div class="ion-text-center">
      <ion-button color="warning" routerLink="tabs/home" (click)="login(2)">
        Ingresar como Paula
      </ion-button>
    </div>
  
    <div class="ion-text-center">
      <ion-button color="success" routerLink="tabs/home" (click)="login(3)">
        Ingresar como Milton
      </ion-button>
    </div>
  
    <div class="ion-text-center">
      <ion-button color="danger" routerLink="tabs/home" (click)="login(4)">
        Ingresar como Organización X
      </ion-button>
    </div>
  </div>

</ion-content>
