<ion-header>
  <ion-toolbar>
    <ion-title>
      ContestHub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
      <ion-card *ngFor="let event of events" routerLink="/event/{{ event.id }}">
        <img src="{{ event.image }}" alt="">
        <ion-card-header>
          <ion-card-title>{{ event.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ event.description.length > 150 ? 
            event.description.slice(0, 150) + "..." : 
            event.description }}
        </ion-card-content>
      </ion-card>
  
</ion-content>
